{% extends "index.html" %}
{% load staticfiles %}
{% block mycode %}
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="margin-top:5%;margin-left:20%;margin-right:20%;padding:5%;border:2px solid #D2691E;box-shadow:0px 0px 10px #D2691E;">
                <form action="" method="post">
                    {% csrf_token %}
                    {% if status%}
                    <p class="alert alert-{{col}}">{{status}}</p>
                    {% endif %}
                    <div class="form-group">
                        <label for="">Current Password</label>
                        <input type="text" class="form-control" name="old" placeholder="Current Password">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">New Password</label>
                                <input type="text" class="form-control" name="new" id='p' placeholder="New Password" onkeyup="check()">
                            </div>
                            <div class="col-md-6">
                                <label for="">Re-enter New Password</label>
                                <input type="text" class="form-control" name="rnew" id='cp' placeholder="Re-enter New Password" onkeyup="check()">
                            </div>
                        </div>      
                    </div>
                    <div class="form-group">
                        <input type="submit" id='change' class="btn btn-success btn-sm btn-block" value="Change Password" disabled>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script>
function check(){
    pw  = $('#p').val();
    cpw  = $('#cp').val();
    if(pw==cpw){
        $('#p').css('border','1px solid green');
        $('#cp').css('border','1px solid green');
        $('#change').removeAttr('disabled');
    }else{
        $('#p').css('border','1px solid red');
        $('#cp').css('border','1px solid red');
        $('#change').attr('disabled','disabled');
    }
}
</script>
{% endblock %}