{% extends "index.html" %}
{% load staticfiles %}

{% block head %}
<style>
    .bground{
        background: lightgray;
        color: black;
    }
    @media screen and (max-width:500px){
        .visible{
          width: 40% !important;
          margin: 2px !important;
        }
      }
      @media screen and (max-width:770px){
        .visible{
          width: 40% !important;
          margin: 2px !important;
        }
      }
      
      
    </style>
{% endblock %}
{% block mycode %}
   <div class="container">
       <div class="row">
            <div class="col-md-8" style="box-shadow: 0px 0px 10px black;margin-left:10%;margin-right:10%;">
            <div class="row">
                <div style="background:#D2691E;height:30px;width:100%;color:white;"><span style="margin-left:15px;">Personal</span></div>
                </div>
                <div class="row" style="margin-top:15px;">
                        <div class="col-md-6" >
                            <div class='row' style="padding:15px;">
                                <div class='col-md-6 bground visible'>
                                    <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                    <span>Name</span>
                                </div><div class='col-md-6 visible'>
                                    <span>{{user.first_name}} {{user.last_name}}</span>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6">
                <div class="row" style="padding:15px;">
                        <div class='col-md-6 bground visible'>
                                <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                <span>Date of Birth</span>
                            </div><div class='col-md-6 visible'>
                                <span>{{details.date_of_birth}}</span>
                            </div>
                </div>
                            </div>
                            
                        </div> 
                        <div class="row">
                                <div class="col-md-6">
                                        <div class="row" style="padding:15px;">
                                                <div class='col-md-6 bground visible'>
                                                        <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                                        <span>Gender</span>
                                                    </div><div class='col-md-6 visible'>
                                                        <span>{{details.date_of_birth}}</span>
                                                    </div>
                                        </div>
                                                    </div>
                                <div class="col-md-6">
                                        <div class="row" style="padding:15px;">
                                                <div class='col-md-6 bground visible'>
                                                        <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                                        <span>Email</span>
                                                    </div><div class='col-md-6 visible'>
                                                        <span>{{details.email}}</span>
                                                    </div>
                                        </div>
                                                    </div>
                        </div>                   
            
                <div class="row" style="margin-top:15px;">
                        <div style="background:#D2691E;height:30px;width:100%;color:white;"><span style="margin-left:15px;">Contact</span></div>
                </div> 
                <div class="row" style="margin-top:15px;">
                    <div class="col-md-6" >
                        <div class='row' style="padding:15px;">
                            <div class='col-md-6 bground visible'>
                                <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                <span>Personal Phone</span>
                            </div><div class='col-md-6 visible'>
                                <span>{{employee.contact}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <div class='row' style="padding:15px;">
                            <div class='col-md-6 bground visible'>
                                <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                <span>Office Phone</span>
                            </div><div class='col-md-6 visible'>
                                <span>{{details.a_phone}}</span>
                            </div>
                        </div>
                    </div>              
                </div>    
                <div class="row" style="margin-top:15px;">
                        <div style="background:#D2691E;height:30px;width:100%;color:white;"><span style="margin-left:15px;">Address</span></div>
                </div> 
                <div class="row" style="margin-top:15px;">
                    <div class="col-md-6" >
                        <div class='row' style="padding:15px;">
                            <div class='col-md-6 bground  visible'>
                                <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                <span>Address</span>
                            </div><div class='col-md-6 visible'>
                                <span>{{details.address}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <div class='row' style="padding:15px;">
                            <div class='col-md-6 bground visible'>
                                <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                <span>City</span>
                            </div><div class='col-md-6 visible'>
                                <span>{{employee.city}}</span>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6" >
                        <div class='row' style="padding:15px;">
                            <div class='col-md-6 bground visible'>
                                <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                <span>State</span>
                            </div><div class='col-md-6 visible'>
                                <span>{{employee.state}}</span>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6" >
                        <div class='row' style="padding:15px;">
                            <div class='col-md-6 bground visible'>
                                <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                <span>Country</span>
                            </div><div class='col-md-6 visible'>
                                <span>{{employee.country}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <div class='row' style="padding:15px;">
                            <div class='col-md-6 bground visible'>
                                <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                <span>Pin Code</span>
                            </div><div class='col-md-6 visible'>
                                <span>{{details.pin_code}}</span>
                            </div>
                        </div>
                    </div>
                </div>    
                                               
           </div>
       </div>
   </div> 
{% endblock %}
