{% extends "index.html" %}
{% load staticfiles %}

{% block head %}
    <style>
    td{
        height:90px;
    }
    </style>
{% endblock %}
{% block mycode%}
    <div class="container">
        <div class="row">
            <div class="col-md-8" style="overflow:auto;margin-left:10%;margin-right:10%;">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                            <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" name="content" class="form-control" style="margin-left:0px;">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                        <input type="submit" class="btn btn-success">
                                </div>
                    </div>
                </form>
                <table border="1"  style="width:100%;text-align:center;background:cornsilk;border:2px solid #D2691E;">
                    <thead>
                        <tr>
                           
                            <th>Profile</th>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Designation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in all %}
                        
                        <tr>
                               
                                <td><img src="/media/{{i.image}}" class="user-image" height="80px" width="80px" alt="User Image"/></td>
                                <td>{{i.user.first_name}} {{i.user.last_name}}</td>
                                <td>{{i.user.email}}</td>
                                <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}