{% extends 'index.html'%}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="{% static 'jqueryFile.js'%}"></script>
    <style>
    .modal-body{
        padding:0px !important;
    }
    tr,td{
        width:25%;
    }
   
    
    </style>
{% endblock %}
{% block mycode %}
{%if status %}
<script>
    alert('{{status}}');
</script>
{% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">

                <div class="" style="height:40px;width:100%;background:#D2691E;">
                        <label class="text-light" style="margin-top:10px;padding-left:5px;">Document Review</label>
                </div>
            </div>
        </div>


<!-- ####### Tool tips ###########-->
<script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip(); 
        });
</script>

<div class="row">
    <div class="col-md-12">
    <table border="1">
            <tr>
                    <th>Date</th>
                    <th>Document</th>
                    <th>References</th>
                    <th>Description</th>
                    <th>status</th>
        
            </tr>
            {% for i in all_docs %}
            <tr>
                <td>{{i.submission_date}}</td>
               
                    <td>
                            <a href="/media/{{i.document}}" target="_blank"><i class="fas fa-eye" style="font-size:20px;"></i> </a>
                    </td>
               
                <td>{{i.reference}}</td>
                <td>{{i.description}}</td>
                <td>
                     <button class="btn m-2"  id="st-{{i.id}}">{{i.status}}</button>
                    <script>
                    $(function(){
                        s =$('#st-{{i.id}}').html();
                        if(s=="False"){
                            $('#st-{{i.id}}').html("Pending").addClass('btn-warning btn-block');
                        }else if(s=="Approve"){
                            $('#st-{{i.id}}').removeClass('btn-warning').removeClass('btn-danger').addClass('btn-success btn-block');
                        }else{
                            $('#st-{{i.id}}').removeClass('btn-warning').removeClass('btn-success').addClass('btn-danger btn-block');
                        } 
                    });
                    </script>
                </td>
            </tr>
            {% endfor %}

    
    </table>
    </div>

</div>

</div>
{% endblock %}