{% extends 'hr.html'%}
{% load staticfiles %}
{% block head %}
{% endblock %}
{% block mycode %}
{% if status %}
<script>
    alert('{{status}}');
    window.location='/myApp/documentApprove'
</script>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-8" style="background: #D2691E;margin-top:20px;margin-left:15%;margin-right:15%;box-shadow:0px 0px 10px black;">
        <span class="text-light" style="margin:10px;font-size: 20px;">Document Approve Form Information :</span>
            
           
         <div style="background:cornsilk;">
                <table border="1" style="height:50px;width:100%;margin-top:20px;margin-bottom:20px;">
                       <thead>
                            <tr>
                                    <th>Name</th>
                                    <th>Reference</th>
                                    <th>Document</th>
                                    <th>Date</th>

                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                       </thead>
                       <tbody>
                            {% for i in all %}
                        <tr>
                                <td>{{i.doc.user.first_name}}{{i.doc.user.last_name}}</td>
                                <td>{{i.reference}}</td>
                                <td><a href="/media/{{i.document}}" download><i class="fas fa-eye"></i></a></td>
                                <td>{{i.submission_date}}</td>
                                <td>{{i.status}}</td>
                                <td><form action="" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="docid"  value="{{i.id}}">
                                    <input type="submit" name="app" value="Approve" class="btn btn-success">
                                    <input type="submit" name="rej" value="Reject" class="btn btn-danger">
                                </form></td>
                        </tr>
                        {% endfor %}
                       </tbody>
                    </table>
         </div>

        </div>

    </div>

    <!-- ************AJAX************* -->
    <script>
            function getdata(id){
                $.ajax({
                    url:'{% url "myApp:docDetails"%}',
                    data:{id:id},
                    type:'get',
                    success:function(data){
                        $('#doc').val(data.document);
                        $('#ref').val(data.reference);
                        $('#desc').val(data.description);
                        $('#subdate').val(data.submission_date);
                    }
                })
            }
            </script>


    <!--*****************Modal Start*****************8-->

    <div class="modal fade" id="submit">
        <!--centered modal-->
        
        <div class="modal-dialog modal-lg">
                <!--bg white and border radious-->
<div class="modal-content" >
                
    <div class="modal-body">
         <form action="" method="POST" enctype="multipart/form-data">
             {% csrf_token %}
             <input type="hidden" name="docid" id="did">
                <div class="row">
                        <div class="col-md-12" style="background:#D2691E;">
                                <span class="text-light">Document submission</span>  
                                <span class="text-light font-weight-bold close" data-dismiss="modal" style="font-size:'30px';">&times</span>
                        </div>
                        
                            </div>
            <div class="row" style="border: 5px solid #D2691E;background: cornsilk;">
                
                <div class="col-md-6" style="margin-top:15px;">
                    <h4 style="color:#D2691E"><b>Employee Use</b></h4>
                    <hr style="color:black;">
                            
                            <div class="form-group">
                                    Document<sup class="text-danger" style="font-size:20px;">*</sup><input type="file"class="form-control clickattach" name="document" id="doc" disabled>
                                </div>
    
    
                        <script>
                            $(function(){
                                $('.attach').click(function(){
                                    $('.clickattach').click()
                                });
                            });
    
                        </script>
                        
                            <div class="form-group">
                                    References <input type="text" class="form-control" name="reference" id="ref" disabled>
                                </div>
                            <div class="form-group">
                                <div>Description</div>
                                    <textarea rows="3" cols="35" class="form-control" name="description" id="desc" placeholder="Enter text..." disabled></textarea>
                            </div>
                    </div>
                <div class="col-md-6 " style="border-left:2px solid #D2691E;margin-top:15px;">
                    <h4 style="color:#D2691E"><b>Admin Use</b></h4><hr>
                            <div class="form-group">
                                    submission date
                                    <input type="text"  class="form-control" id="subdate" name="date" disabled>

                            </div>
        
        <script>
       
        $(function(){
            let d = new Date();
            let dd = d.getDate()+'-'+parseInt(d.getMonth()+1)+'-'+d.getFullYear();
            $('#sdate').val(dd);
            
        });
        </script>
    
                            <div class="form-group">
                                    status
                                    <select name="status" id="" class="form-control">
                                        <option value="Approved">Approve</option>
                                        <option value="Rejected">Reject</option>
                                    </select>
                            </div>
                                        
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Ok" style="display:inline-block;margin:20px;float:right;">
                </div>
                <div class="form-group" >
                    <input type="button" class="btn btn-info close" data-dismiss="modal" value="Cancel" style="display:inline-block;margin:20px;float:right">
                </div>
            </div>   
         </form>                                 
</div>  

</div>  
        
</div>
</div>
</div>
{% endblock %}