{% extends 'index.html'%}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="{% static 'jqueryFile.js'%}"></script>
    <style>
    .modal-body{
        padding:0px !important;
    }
    tr,td{
        width:25%;
    }
   
    
    </style>
{% endblock %}
{% block mycode %}
{%if status %}
<script>
    alert('{{status}}');
</script>
{% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">

                <div class="" style="height:40px;width:100%;background:#D2691E;">
                        <label class="text-light" style="margin-top:10px;padding-left:5px;">Document submission</label>
                </div>
            </div>
        </div>

<div class="row">
    <div class="col-md-12">
     <a href="#" data-toggle="tooltip" title="Submit new Document !" data-placement=" auto left">
       
    <button class="btn btn-sm btn-info font-weight-bold"data-toggle="modal" data-target="#submit" style="width:100px;margin:20px;">+
    </button>
</a>
</div>
</div>

<!-- ####### Tool tips ###########-->
<script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip(); 
        });
</script>

<div class="row">
    <div class="col-md-12">
    <table border="1">
            <tr>
                    <th>Date</th>
                    <th>Document</th>
                    <th>References</th>
                    <th>Description</th>
                    <th>status</th>
        
            </tr>
            {% for i in all_docs %}
            <tr>
                <td>{{i.submission_date}}</td>
               
                    <td>
                            <a href="/media/{{i.document}}" target="_blank"><i class="fas fa-eye" style="font-size:20px;"></i> </a>
                    </td>
               
                <td>{{i.reference}}</td>
                <td>{{i.description}}</td>
                <td>
                     <button class="btn m-2"  id="st-{{i.id}}">{{i.status}}</button>
                    <script>
                    $(function(){
                        s =$('#st-{{i.id}}').html();
                        if(s=="False"){
                            $('#st-{{i.id}}').html("Pending").addClass('btn-warning btn-block');
                        }else if(s=="Approve"){
                            $('#st-{{i.id}}').removeClass('btn-warning').removeClass('btn-danger').addClass('btn-success btn-block');
                        }else{
                            $('#st-{{i.id}}').removeClass('btn-warning').removeClass('btn-success').addClass('btn-danger btn-block');
                        } 
                    });
                    </script>
                </td>
            </tr>
            {% endfor %}

    
    </table>
    </div>

</div>



                





 <!--*****************Modal Start*****************8-->

                <div class="modal fade" id="submit">
                <!--centered modal-->
                
                <div class="modal-dialog modal-lg">
                        <!--bg white and border radious-->
        <div class="modal-content" >
                        
            <div class="modal-body">
                 <form action="" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                        <div class="row">
                                <div class="col-md-12" style="background:#D2691E;">
                                        <span class="text-light">Document submission</span>  
                                        <span class="text-light font-weight-bold close" data-dismiss="modal" style="font-size:'30px';">&times</span>
                                </div>
                                
                                    </div>
                    <div class="row" style="border: 5px solid #D2691E;background: cornsilk;">
                        
                        <div class="col-md-6" style="margin-top:15px;">
                            <h4 style="color:#D2691E"><b>Employee Use</b></h4>
                            <hr style="color:black;">
                                    
                                    <div class="form-group">
                                            Document<sup class="text-danger" style="font-size:20px;">*</sup><input type="file"class="form-control clickattach" name="document" required>
                                        </div>
            
            
                                <script>
                                    $(function(){
                                        $('.attach').click(function(){
                                            $('.clickattach').click()
                                        });
                                    });
            
                                </script>
                                
                                    <div class="form-group">
                                            References <input type="text" class="form-control" name="reference">
                                        </div>
                                    <div class="form-group">
                                        <div>Description</div>
                                            <textarea rows="3" cols="35" class="form-control" name="description" placeholder="Enter text..."></textarea>
                                    </div>
                            </div>
                        <div class="col-md-6 " style="border-left:2px solid #D2691E;margin-top:15px;">
                            <h4 style="color:#D2691E"><b>Admin Use</b></h4><hr>
                                    <div class="form-group">
                                            submission date
                                            <input type="text"  class="form-control" id="sdate" name="date" disabled>
                                    </div>
                
                <script>
               
                $(function(){
                    let d = new Date();
                    let dd = d.getDate()+'-'+parseInt(d.getMonth()+1)+'-'+d.getFullYear();
                    $('#sdate').val(dd);
                    
                });
                </script>
            
                                    <div class="form-group">
                                            status
                                            <input type="text" value="pending Approve"class="form-control" disabled>
                                    </div>
                                                
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-info" value="Ok" style="display:inline-block;margin:20px;float:right;">
                        </div>
                        <div class="form-group" >
                            <input type="button" class="btn btn-info close" data-dismiss="modal" value="Cancel" style="display:inline-block;margin:20px;float:right">
                        </div>
                    </div>   
                 </form>                                 
    </div>  

        </div>  
                
</div>
</div>
</div>
{% endblock %}