<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'https://use.fontawesome.com/releases/v5.7.0/css/all.css' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <script src="{% static 'jqueryFile.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'animate/css/animations.css' %}">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Fira+Sans:200i|Libre+Baskerville|Zilla+Slab' %}" rel="stylesheet">

    <style>
       .img-responsive{
        background-repeat:no-repeat;
        background-size:100% 100%;
        background-position: fixed;
        margin:10px;
       border-radius:20px;
       display:inline-block; 
      }
      .img1{
        height:30vh;
        width:180px;
        margin:10px;
        border-radius: 5px;
    }
    @media screen and (max-width:1200px){
        .img1{
          height:30vh !important;
        width:220px !important;
        margin:10px !important;
        border-radius: 5px !important;
        }
      }
      @media screen and (max-width:500px){
        .img1{
          height:30vh !important;
        width:270px !important;
        margin:10px !important;
        border-radius: 5px !important;
        }
      }
    .img1:hover{
      transform: rotate(5deg);
      transition: 1s;
    }
    .carousel-indicators li{
        height:20px;
        width:20px;
        border-radius:50%;
        margin:7px;
    }
      @media screen and (max-width:500px){
        .hide{
          display:none !important;
        }
      }
      @media screen and (max-width:500px){
        .visible{
          margin:20% !important;
        }
      }
      @media screen and (max-width:1200px){
        .visible{
          margin:15% !important;
          
        }
      }
      @media screen and (max-width:1200px){
        .hide{
          margin:20% !important;
          
        }
      }
      @media screen and (max-width:1200px){
        .size{
          margin-top:8px !important;
          
        }
      }
      nav{
        /* background:rgb(0, 26, 47); */
        background:#D2691E;
        font-family: 'Libre Baskerville', serif;
        font-size: 20px;
      }
      .card{
        background: rgb(255, 255, 165);
      }
      .card:hover{
        margin-left: 2%;
        margin-bottom: 2%;
        transition: 1s;
        background:rgb(198, 248, 122);
      }
      .form-control:hover{
        background: rgb(213, 247, 163);
        transition: 2s;
      }
    </style>
</head >
{% block mycode %}
{% endblock %}
<body style="background:cornsilk">
  <div>  
    <header>
            <div class="container-fluid">
             <div class="row">
                <div class="col-md-12 px-0">
                        <nav class="navbar navbar-expand-sm justify-content-end navbar-light fixed-top">
                          <a class="navbar-brand" href=""><h2><span style="color:white;">secOURs</span>.we</h2></a>
                      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mynav">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="mynav" class="navbar navbar-collapse collapse">
                          <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link" style="color:white;" href="#main-slider" class="active">Home</a></li>
                            <li class="nav-item"><a class="nav-link" style="color:white;" href="{% url 'myApp:login' %}" class="active">Login</a></li>
                            <li class="nav-item"><a class="nav-link" style="color:white;" href="#about">About Us</a></li>
                            <li class="nav-item"><a class="nav-link" style="color:white;" href="#services">Services</a></li>
                            <li class="nav-item"><a class="nav-link" style="color:white;" href="#gallery">Portfolio</a></li>
                            <li class="nav-item"><a class="nav-link" style="color:white;" href="#blog">Blog</a></li>
                            <li class="nav-item"><a class="nav-link" style="color:white;" href="#contact">Contact Us</a></li>
                          </ul> 
                      </div>
                    </nav>
                    </div>
             </div>
            </div>
            </header>

      <div style='height:80px;'></div>
      
      <!-- section -->
      <section id="main-slider" class="no-margin">
        <div class="carousel slide">
          <div class="carousel-inner">
            <div class="item active py-3 fadein" style="background-image: url('{%static "images/pexel1.jpg"%}'); height:600px; background-size: 100% 100%; width:100%">
              <div class="container my-5">
                <div class="row slide-margin">
                  <div class="col-sm-6 py-5 my-5">
                    <div class="carousel-content  text-light" >
                      <h2 class="fadeText visible" style='margin-top:50px;opacity: 0;font-size:40px;font-family:"Dancing Script", cursive;'>Welcome <span>Company</span></h2>
                      <p class="fadeTxt visible" style='margin-top:50px;opacity: 0;font-size:30px;word-spacing: 5px;font-family:"Dancing Script", cursive;'>We will make you noticeable.....</p>
                    </div>
                  </div>
    
                  <div class="col-sm-6">
                    <div class="fadeimage hide" style="margin-top:50px;opacity: 0;">
                      <img src="{% static 'images\img3.png' %}" class="img-responsive">
                    </div>
                  </div>
    
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </section>

      <!-- FUNCTIONS -->
      <script>
        $(function(){
         
          $('.fadeText').animate({
            'margin-top':'0',  
            'opacity':'1', 
          },1000,function(){
            $('.fadeTxt').animate({
            'margin-top':'0',  
            'opacity':'1', 
          },1000,function(){
          $('.fadeimage').animate({
            'margin-top':'0',  
            'opacity':'1',
          },1000,function(){
            $('.contactPage').animate({
            'margin-top':'0',  
            'opacity':'1',
          },1000)
          });
          }) ;
        });
        });
        
        $(function(){
          $('.fadein').fadeTo(100,0.8);
        })
        
        </script>

        <div id="about" style="height:80px;"></div>
        <!-- ABOUT -->
            <div class="container">
                <h2 class="text-center mb-3" style="font-family: 'Libre Baskerville', serif;">About Us</h2>
                <div class="row animatedParent" data-sequence="1000"> 
                    <div class="col-md-6 animated fadeInLeft" data-id="1" style="background-size:100% 100%;background-repeat: no-repeat;">
                            <img  src="{% static 'images\emp.jpg' %}" alt="" style='width:100%;'>
                    </div>
                    <div class="col-md-6 animated fadeInLeft nav" data-id="2"  style="font-family: 'Zilla Slab', serif;;font-size: 15px;">
                        <h4 class="text-center">Employee self-service</h4>
                        <p>Our company offer a range of tools for employee self-service. They are a flexible and cost-effective solution and are increasingly becoming central to business operations. With their streamlined, automated processes, employee portals will eliminate unnecessary paperwork and email trails within the office. Additionally, they will empower employees by giving them more control and autonomy over their working lives as they can source information for themselves and complete work tasks. In this article, we identify six ways to make sure that your employee portal is a success.</p>
                        <p>Enabling your worker to complete requests for annual leave, payroll, expenses and training opportunities as well as staff appraisal documentation will have a number of benefits. The first is that it empowers staff. Giving them greater autonomy and control over their working lives will result in happier, more engaged employees and a better team morale.</p>      
                    </div>
                </div>    <div id="services"></div>
          </div>

 <!--==========================
      Services Section
    ============================-->
    <div id="services" style="height:80px;"></div>
    <section  class="section-bg">
        <div class="container ">
         <div class="section-header text-center mt-4" style="margin-top:100px;">
            <h3 style="font-family: 'Libre Baskerville', serif;">Services</h3>
            <p style="font-family: 'Fira Sans', sans-serif;">We provide you the free and user-activating services
            </div>
  
          <div class="row">
              <div class="col-md-6 mt-4">
                  <div class="animatedParent" data-sequence="1000">
                      <div class=" animated wow bounceIn" data-id="1">
                        <div class="card" style="border-radius:10px">
                          <div class="card-header">
                              <h3>Secours.we is FREE!</h3>
                          </div>
                          <div class="card-body">
                              <span class="card-text">
                                Secours.we is <i><b>free forever</b></i>You can sign up for free anywhere on this website and apply for the company. After sign up, contact to the company for approval.
                              </span>
                          </div>
                          </div>
                        </div>
                        
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                      <div class="animatedParent" data-sequence="1000">
                          <div class=" animated wow bounceIn" data-id="1">
                            <div class="card" style="border-radius:10px">
                              <div class="card-header">
                                  <h3>Employee Self-service</h3>
                              </div>
                              <div class="card-body">
                                  <span class="card-text">
                                    It is not only priceless, but employee can <b><i>login</i></b> itself and also <b><i>upload</i></b> the required data whenever they complete their work.
                                    Employee can close their account whenever they want.                                   
                                  </span>
                              </div>
                              </div>
                            </div>
                            
                        </div>
                      </div>
              </div>
              <div class="row">
                  <div class="col-md-6 mt-4">
                      <div class="animatedParent" data-sequence="1000">
                          <div class=" animated bounceIn" data-id="2">
                            <div class="card" style="border-radius:10px">
                              <div class="card-header">
                                  <h3>"e-leave"</h3>
                              </div>
                              <div class="card-body">
                                  <span class="card-text">
                          Employee can themselves apply for leave.Employee will attach the <b><i>supporting proof</i></b> for leave. They can also check their past records. Hr will look for their remaining leaves and <b><i>leave entitlement</i></b> and approve or reject their application for free.                                    
                                  </span>
                              </div>
                              </div>
                            </div>
                            
                        </div>
                      </div>
                      <div class="col-md-6 mt-4">
                          <div class="animatedParent" data-sequence="1000">
                              <div class=" animated bounceIn" data-id="2">
                                <div class="card" style="border-radius:10px">
                                  <div class="card-header">
                                      <h4>Track employee Attendance </h4>
                                  </div>
                                  <div class="card-body">
                                      <span class="card-text">
                                    Employee will <b><i>check-in</i></b> and <b><i>check-out</i></b> for daily attendance on their own. They need to <b><i>check-out</i></b> before leaving the company everyday. Hr can easily track the employee attendance and can also check who is <b><i>check-in</i></b> the company daily.                                       
                                      </span>
                                  </div>
                                  </div>
                                </div>
                                
                            </div>
                          </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6 mt-4">
                          <div class="animatedParent" data-sequence="1000">
                              <div class=" animated bounceIn" data-id="3">
                                <div class="card" style="border-radius:10px">
                                  <div class="card-header">
                                      <h3>Announcements</h3>
                                  </div>
                                  <div class="card-body">
                                      <span class="card-text">
                                         Important <b><i>notifications</i></b> and <b><i>latest announcements</i></b> are send out to each employee working in the company. Newly joined employees will be able to get to know about the events going to happen in the company.
                                      </span>
                                  </div>
                                  </div>
                                </div>
                                
                            </div>
                          </div>
                            
                          
                          <div class="col-md-6 mt-4">
                              <div class="animatedParent" data-sequence="1000">
                                  <div class=" animated bounceIn" data-id="3">
                                    <div class="card" style="border-radius:10px">
                                      <div class="card-header">
                                          <h4>No need of installation</h4>
                                      </div>
                                      <div class="card-body">
                                          <span class="card-text">
                                        You can access this website from <i><b>anywhere</b></i> and <i><b>anytime</b></i> via your PC, Tablets and android phones for free. You need not to install this on your system.                                         
                                        Mobile friendly portal optimized for the small screens will give employees even more control and autonomy </span>
                                      </div>
                                      </div>
                                    </div>
                                    
                                </div>
                              </div>
                      </div>
          </div>
          
      </section><!-- #services -->
<script>
$('#myCar').preventDefault();
</script>
<div id="gallery" style="height:80px;"></div>
      <div class='container-fluid'>
          <div class="widget blog_gallery text-center">
              <h3  style="font-family: 'Libre Baskerville', serif;">Our Gallery</h3></div>
              <div class='carousel slide'data-ride='carousel'id='myCar'>
                  <ul class='carousel-indicators'>
                      <li class='active'></li>
                      <li></li>
                      <li></li>
                  </ul>
                <div class='carousel-inner'>
                    <div class='ml-2 carousel-item active'>
                      <img class='img1' src="{% static 'images\gellery.jpeg' %}" >
                      <img class='img1' src="{% static 'images\code.jpeg' %}">
                      <img class='img1' src="{% static 'images\code.jpeg' %}">
                      <img class='img1' src="{% static 'images\image1.jpeg' %}">
                      <img class='img1' src="{% static 'images\image1.jpeg' %}">
                      <img class='img1' src="{% static 'images\image1.jpeg' %}">
                     </div>
                    <div class='carousel-item'>
                    <img class='img1' src="{% static 'images\code.jpeg' %}">
                    <img class='img1' src="{% static 'images\image1.jpeg' %}">
                    <img class='img1' src="{% static 'images\gellery.jpeg' %}">
                    <img class='img1' src="{% static 'images\image1.jpeg' %}">
                    <img class='img1' src="{% static 'images\image1.jpeg' %}">
                    <img class='img1' src="{% static 'images\gellery.jpeg' %}">
                    </div>
                    <div class='carousel-item'>
                    <img class='img1' src="{% static 'images\code.jpeg' %}">
                    <img class='img1' src="{% static 'images\gellery.jpeg' %}">
                    <img class='img1' src="{% static 'images\image1.jpeg' %}">
                    <img class='img1' src="{% static 'images\image1.jpeg' %}">
                    <img class='img1' src="{% static 'images\image1.jpeg' %}">
                    <img class='img1' src="{% static 'images\code.jpeg' %}">
                    </div>
                    <a href="#myCar" class='carousel-control-prev' data-slide='prev'>
                        <span class='carousel-control-prev-icon'></span>
                    </a>
                    <a href="#myCar"class='carousel-control-next'data-slide='next'>
                    <span class='carousel-control-next-icon'></span>
                    </a>
              </div>
              </div>
                
              
            </div>
            <!--/.blog_gallery-->
    
    
    <!--blog-->
            <div id="blog" style="height:80px;"></div>
       <div class="container-fluid text-center">
           <p  style="font-family: 'Libre Baskerville', serif;font-size: 25px"> Blog</p>
        </div>
          
        <section class="container">
          <div class="blog">
            <div class="row">
              <div class="col-md-8">
                <div class="blog-item">
                  <div class="row">
                  
      
                    <div class="col-xs-12 col-sm-10 blog-content">
                      <img class=" img-blog" src="{% static 'images/3.jpg' %}" width="100%" alt="" />
                      <h4>Mobile friendly Portal</h4>
                      <p>Increasingly employees are working flexible hours and remotely away from the standard office environment. Working from 9-5 in the main office is fast becoming 
                        the exception rather than the norm. This trend is being driven by improved technology and by an increased desire for a better 
                        work-life balance. In fact, employers that have encouraged remote, flexible working have found that on-costs and overheads are reduced whilst staff engagement and
                         wellbeing is enhanced. </p>
                    </div>
                  </div>
                </div>
                <!--/.blog-item-->
      
                
              </div>
              <!--/.col-md-8-->
      
              <aside class="col-md-4">
                <div class="widget search">
                  <form role="form">
                    <textarea class="form-control" autocomplete="off" placeholder="Description Here"></textarea>
                    <button class="btn btn-success mt-2">Submit</button>
                  </form>
                </div>
                <!--/.comments-->
      
                <div class="widget categories">
                  <h3>Recent Comments</h3>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="single_comments">
                        <img src="{% static 'images/blog/avatar3.png' %}" alt="" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </p>
                        <div class="entry-meta small muted">
                          <span>By <a href="#">Alex</a></span>
                        </div>
                      </div>
                      <div class="single_comments">
                        <img src="{% static 'images/blog/avatar3.png' %}" alt="" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </p>
                        <div class="entry-meta small muted">
                          <span>By <a href="#">Alex</a></span>
                        </div>
                      </div>
                      <div class="single_comments">
                        <img src="images/blog/avatar3.png" alt="" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </p>
                        <div class="entry-meta small muted">
                          <span>By <a href="#">Alex</a></span>
                        </div>
                      </div>
      
                    </div>
                  </div>
                </div>
                <!--/.recent comments-->
                  
                          </aside>
            </div>
            <!--/.row-->
          </div>
        </section>
        <!--/#blog-->
  
 <!--==========================
      Contact Section
    ============================-->
    <section  id="contact" style="margin-top:10px;" class="animatedParent" data-sequence="1000">
      <div class="container-fluid contactPage animated fadeInLeft" data-id="1" style="margin-top:70px;opacity:0;">

        <div class="section-header text-center"  style="margin-top:100px;">
          <h3  style="font-family: 'Libre Baskerville', serif;">Contact Us</h3>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
                <iframe src="{% static 'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13596.245684859497!2d74.9902765!3d31.5773635!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x57ec6504e6d034f4!2sACET+AMRITSAR+I+Amritsar+Group+of+Colleges+I+Engineering+College+in+Amritsar!5e0!3m2!1sen!2sin!4v1550923418461' %}" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-4 info">
                <i class="ion-ios-location-outline">
                <p>ACET Amritsar, 143001</p>
              </i>  
              </div>
              <div class="col-md-4 info">
                <!-- <i class="ion-ios-email-outline"></i> -->
                
                <p><i class="fas fa-user"></i>info@example.com</p>
              </div>
              <div class="col-md-4 info">
                <i class="ion-ios-telephone-outline"></i>
                <p>+91 9682572865</p>
              </div>
            </div>

            <div class="form">
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" required/>
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="9" data-rule="required" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button class="btn btn-info" title="Send Message">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section>
<script>
$(function(){
  $('button').click(function(){
   alert('Your message has been sent. Thank You!');
  })
})
</script>
   <!-- #contact --> 

        <!-- <div class="pull-right">
          <a href="#home" class="scrollup"><i class="fa fa-angle-up fa-3x"></i></a>
        </div> -->
      
        <div class="container-fluid size">
          <div class="row" style="background:white;">
            <div class="col-md-12">
             
                <div class="text-center">
                  <b>Version</b> 2.0
                </div>
                <div class="text-center">
                <strong >Copyright &copy; 2019 <a href="{% static 'http://avbcdss.com' %}">ACET Studio</a>.</strong> All rights reserved.
              </div>
            </div>   
          </div>
        </div>

  
        <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %}"></script>         
        <script src="{% static 'animate/js/animate.js' %}"></script>
</div></body>
</html>
