{% extends "hr.html" %}
{% load staticfiles %}
{% block mycode %}
<div class="row">
    <div class="col-md-12 px-0 py-0" >
        <h1 class=" text-center"style="color:white;">User Profile</h1>
    
    <div class="col-md-6" style="background:rgba(0,0,0,0.5);padding:20px;margin-left:25%;margin-top:2%;margin-right:20%;">
        {% if status %}
            <p class="alert alert-{{c}}">{{status}}</p>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="" style="color:white;">First Name</label>
                        <input type="text" class="form-control" name="first" value="{{user.first_name}}">
                    </div>
                    <div class="col-md-6">
                        <label for="" style="color:white;">Last Name</label>
                        <input type="text" class="form-control" name="last" value="{{user.last_name}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for style="color:white;">Username</label>
                <input type="text" class="form-control" name="username" disabled value="{{user.username}}">
            </div>
            <div class="form-group">
                <label for="" style="color:white;">Email</label>
                <input type="email" class="form-control" name="email" value="{{user.email}}">
            </div>
            <div class="form-group">
                <label for="" style="color:white;">Phone no.</label>
                <input type="number" class="form-control" name="phone" value="{{HR.contact}}" required>
            </div>
            <div class="form-group">
                
                <input type="submit" class="btn btn-primary" value="Save Changes">
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}