{% extends "hr.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block head %}
{% endblock %}
{% block mycode %}
<div class="container">
    <div class="row">
        <div class="col-md-6" style="background:#D2691E;margin-left:12%;margin-right:10%;height:30px;border: 2px solid #D2691E;" class="px-0 py-0">Send Mail
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 d" style="border:2px solid #D2691E;margin-left:12%;margin-right:10%;background:cornsilk;">
                {% if status %}
                <p class="alert" style="background:rgb(182, 248, 182)">{{status}}</p>
                 {% endif %}
                 
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                        <label for="">To:</label>
                        <input type="text" class="form-control" name="to">
                </div>
                <div class="form-group">
                    <label for="">Subject:</label>
                    <input type="text" class="form-control" name="subject">
                </div>
                <div class="form-group">
                    <label for="">Write content here..</label>
                    <textarea id="" cols="30" rows="8" class="form-control" name="message"></textarea>
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <div class="form-group" style="display: inline-block;">
                                        <input type="submit" value="Send" class="btn btn-info">
                                            <input type="reset" value="Reset" class="btn btn-info" style="margin-left:5px">
                        
                                        </div>
                        </div>
                    </div>               
            </form>
        </div>
    </div>    
</div>
{% endblock %}
