<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />    
    <!-- FontAwesome 4.3.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />    
    <!-- Theme style -->
    <link href="{% static 'dist/css/AdminLTE.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins 
         folder instead of downloading all of them to reduce the load. -->
    <link href="{% static 'dist/css/skins/_all-skins.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="{% static 'plugins/iCheck/flat/blue.css' %}" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <link href="{% static 'plugins/morris/morris.css' %}" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" />
    <!-- Date Picker -->
    <link href="{% static 'plugins/datepicker/datepicker3.css' %}" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="{% static 'plugins/daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet" type="text/css" />
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}" rel="stylesheet" type="text/css" />

    <style>
    .bg{
      background:rgba(0,0,0,0.5);
    }
    .text{
      color:white;
    }
    #calendar{
      color:white !important;
    }
    @media screen and (max-width:770px){
        .space{
          margin-top:0px !important;
          text-align:left !important;
        }
      }
    </style>
    {% block head %}

    {% endblock %}
  </head>
  <body class="skin-blue">
    <div class="wrapper">
      
      <header class="main-header">
        <!-- Logo -->
        <a href="{% url 'myApp:index'%}" class="logo space" style="background:#D2691E;position:fixed"><b>Employ</b>Portal</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-fixed-top" style="background: #D2691E" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" style="background:#D2691E">
            <span class="sr-only" >Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
             
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu">
                <a href="" onclick="myfun()" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">{{totalnot}}</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have {{totalnot}} new notifications</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      {% for i in notify %}
                      <li>
                          <a href="#">
                            <i class="fa fa-users text-aqua"></i> {{i.content}}
                            <small class="float-right">{{i.notify_on}}</small>
                          </a>
                        </li>
                      {% endfor %}
                      
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
            
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="/media/{{employee.image}}" class="user-image" alt="User Image"/>
                  <span class="hidden-xs">{{user.first_name}} {{user.last_name}}</span>
                </a>
                <ul class="dropdown-menu" >
                  <!-- User image -->
                  <li class="user-header" style="background: rgb(230, 121, 43)">
                    <img src="/media/{{employee.image}}" class="img-circle" alt="User Image" />
                    <p>
                      {{user.first_name}} {{user.last_name}}
                      <small>Member Since {{user.date_joined}}</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <!-- Menu Footer-->
                  <li class="user-footer" style="background: rgb(230, 121, 43)" >
                    <div class="pull-left">
                      <a href="{% url 'myApp:logout'%}" class="btn btn-success">Sign Out</a>
                    </div>
                    <div class="pull-right">
                      <a href="{% url 'myApp:change_password' %}" class="btn btn-success ">Change Password</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <script>
      function myfun(){
        $.ajax({
          url:"{% url 'myApp:changestatus'%}",
          type:'get',
          success:function(data){

          }
        })
      }
      </script>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar" style="position:fixed">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="/media/{{employee.image}}" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
              <p>{{user.first_name}} {{user.last_name}}</p>
            </div>
          </div>
          <!-- search form -->
         
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu" >
            <li class="active treeview">
              <a href="{% url 'myApp:index' %}">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span> 
              </a>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Details</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{% url 'myApp:contact' %}"><i class="fa fa-circle-o"></i>Personal Details</a></li>
                <li><a href="{% url 'myApp:family' %}"><i class="fa fa-circle-o"></i> Family Deatils</a></li>
                <li><a href="{% url 'myApp:health' %}"><i class="fa fa-circle-o"></i> Health Deatils</a></li>
                <li><a href="{% url 'myApp:salary' %}"><i class="fa fa-circle-o"></i> Salary Details</a></li>
                <li><a href="{% url 'myApp:job' %}"><i class="fa fa-circle-o"></i> Job Details</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Leaves</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{% url 'myApp:leave' %}"><i class="fa fa-circle-o"></i>Application</a></li>
                <!-- <li><a href=""><i class="fa fa-circle-o"></i>Planner</a></li> -->
                <li><a href="{% url 'myApp:holidays' %}"><i class="fa fa-circle-o"></i>Holidays</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-laptop"></i>
                <span>Documents</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{% url 'myApp:submission' %}"><i class="fa fa-circle-o"></i>Document Submission</a></li>
                <li><a href="{% url 'myApp:documentReview' %}"><i class="fa fa-circle-o"></i> Document Reviews</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>Discussion</span>
              </a>
            </li>
            <li class="treeview">
              <a href="{% url 'myApp:index' %}">
                <i class="fa fa-table"></i> <span>Field Check-in</span>
              </a>
            </li>
            <!-- <li class="treeview">
              <a href="{% url 'myApp:change_profile' %}">
                <i class="fa fa-laptop"></i>
                <span>Change Profile</span>
              
              </a>
             
            </li> -->

            <li class="treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Profile</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
    
                <li><a href="{% url 'myApp:user_profile' %}"><i class="fa fa-circle-o"></i>User profile</a></li>
                <li><a href="{% url 'myApp:change_profile' %}"><i class="fa fa-circle-o"></i>Change Profile</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="{% url 'myApp:directory' %}">
                <i class="fa fa-edit"></i> <span>Employee Directory</span>
              </a>
            </li>
            <li>
              <a href="{% url 'myApp:index' %}">
                <i class="fa fa-calendar"></i> <span>Calendar</span>
              </a>
            </li>
            <li>
                <a href="{% url 'myApp:mail' %}">
                <i class="fa fa-envelope"></i> <span>Mail</span>
                <!-- <small class="label pull-right bg-yellow">0</small> -->
              </a>
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
      
      <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper" id='all-content' style="background-image:url('images/body-bg.jpg');background-size:cover;">
        <!-- Content Header (Page header) -->
  
        <section class="content-header space" style="margin-top:35px;">
          <h1 class="text" style="color:black;">
            Secours.we
          </h1>
          <ol class="breadcrumb" >
            <li><a href="{% url 'myApp:home' %}"><i class="fa fa-dashboard text" style="color:black;"></i> <span class="text" style="color:black;">Home</span></a></li>
          </ol>
        </section>
        {% block mycode %}
        {% endblock %}
        
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.0
        </div>
        <strong>Copyright &copy; 2019 <a href="{% static 'http://almsaeedstudio.com' %}">ACET Studio</a>.</strong> All rights reserved.
      </footer>
    </div><!-- ./wrapper -->

    <script>
    
    </script>
    <!-- jQuery 2.1.3 -->
    <script src="{% static 'plugins/jQuery/jQuery-2.1.3.min.js' %}"></script>
    <!-- jQuery UI 1.11.2 -->
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>    
    <!-- Morris.js charts -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="{% static 'plugins/morris/morris.min.js' %}" type="text/javascript"></script>
    <!-- Sparkline -->
    <script src="{% static 'plugins/sparkline/jquery.sparkline.min.js' %}" type="text/javascript"></script>
    <!-- jvectormap -->
    <script src="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}" type="text/javascript"></script>
    <!-- jQuery Knob Chart -->
    <script src="{% static 'plugins/knob/jquery.knob.js' %}" type="text/javascript"></script>
    <!-- daterangepicker -->
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}" type="text/javascript"></script>
    <!-- datepicker -->
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}" type="text/javascript"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="{% static 'plugins/iCheck/icheck.min.js' %}" type="text/javascript"></script>
    <!-- Slimscroll -->
    <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
    <!-- FastClick -->
    <script src="{% static 'plugins/fastclick/fastclick.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/app.min.js' %}" type="text/javascript"></script>

    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="{% static 'dist/js/pages/dashboard.js' %}" type="text/javascript"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dist/js/demo.js' %}" type="text/javascript"></script>
  </body>
</html>