<!DOCTYPE html>
{% extends "index.html" %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block mycode %}
<div class="container">
        <div class="row">

            <div class="col-md-6"style="margin-left:20%;">
                <h2>Job Detail</h2>
                <div style="background:#D2691E;height:2px;width:30%;"></div>
                <div class="p-5 mx-auto" >
                    <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                        {% bootstrap_form form%}
                            <input type="submit">
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}