{% extends 'index.html'%}
{% load staticfiles %}
{% block head %}
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <style>
     .bground{
        background: lightgray;
        color: black;
    }
    @media screen and (max-width:500px){
        .visible{
          width: 40% !important;
          margin:2px !important;
          
        }
      }
      @media screen and (max-width:770px){
        .visible{
          width: 40% !important;
          margin: 2px !important;
           
        }
      }
     
    </style>
{% endblock %}
{% block mycode %}
<div class="container">
        <div class="row">
            <div class="col-md-8" style="box-shadow: 0px 0px 10px black;margin-left:10%;margin-right:10%;">
                <div class="row">
                     <div style="background:#D2691E;height:30px;width:100%;color:white;"><span class="ml-2">Employee Information</span></div>
                    </div>
    
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-6" >
                            <div class='row' style="padding:10px;">
                                <div class='col-md-6 bground visible'>
                                    <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                    <span>Date of joining</span>
                                </div><div class='col-md-6 visible'>
                                    <span>{{details.date_of_joining}}</span>
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-6" >
                                <div class='row' style="padding:10px;">
                                    <div class='col-md-6 bground visible'>
                                        <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                        <span style="font-size:15px">End of Probation</span>
                                    </div><div class='col-md-6 visible'>
                                        <span>{{details.date_of_probation}}</span>
                                    </div>
                                </div>
                            </div>                    
                </div> 
    
    
    
                <div class="row">
                        <div style="background:#D2691E;;height:30px;width:100%;color:white;"><span class="ml-2">Job Details</span></div>
                </div>
                <div class="row" style="margin-top:10px;">
                        <div class="col-md-6" >
                            <div class='row' style="padding:10px;">
                                <div class='col-md-6 bground visible'>
                                    <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                    <span>Position</span>
                                </div><div class='col-md-6 visible'>
                                    <span>{{details.position}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class='row' style="padding:10px;">
                                <div class='col-md-6 bground visible'>
                                    <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                    <span>Branch</span>
                                </div><div class='col-md-6 visible'>
                                    <span>{{details.branch}}</span>
                                </div>
                            </div>
                        </div>              
                    </div>    
                    <div class="row">
                            <div class="col-md-6" >
                                <div class='row' style="padding:10px;">
                                    <div class='col-md-6 bground visible'>
                                        <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                        <span>Dept.</span>
                                    </div><div class='col-md-6 visible'>
                                        <span>{{details.dept}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class='row' style="padding:10px;">
                                    <div class='col-md-6 bground visible'>
                                        <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                        <span>Level</span>
                                    </div><div class='col-md-6 visible'>
                                        <span>{{details.level}}</span>
                                    </div>
                                </div>
                            </div>              
                        </div>    
                        <div class="row">
                                <div class="col-md-6" >
                                    <div class='row' style="padding:10px;">
                                        <div class='col-md-6 bground visible'>
                                            <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                            <span>Effective Date</span>
                                        </div><div class='col-md-6 visible'>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>              
                            </div>    
    
                <div class="row">
                    <div style="background:#D2691E;;height:30px;width:100%;color:white;"><span class="ml-2">Employee Status</span></div>
                </div>
                <div class="row" style="margin-top:10px;">
                        <div class="col-md-6" >
                            <div class='row ' style="padding:10px;">
                                <div class='col-md-6 bground visible'>
                                    <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                    <span>Type</span>
                                </div><div class='col-md-6 visible'>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class='row' style="padding:10px;">
                                <div class='col-md-6 bground visible'>
                                    <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                    <span>Status</span>
                                </div><div class='col-md-6 visible'>
                                    <span>{{details.status}}</span>
                                </div>
                            </div>
                        </div>              
                    </div>    
    
                    <div class="row mt-2">
                            <div class="col-md-6" >
                                <div class='row' style="padding:10px;">
                                    <div class='col-md-6 bground visible'>
                                        <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                        <span>Leave Workflow</span>
                                    </div><div class='col-md-6 visible'>
                                        <span>{{details.workflow}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class='row' style="padding:10px;">
                                    <div class='col-md-6 bground visible'>
                                        <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                        <span>Effective Date</span>
                                    </div><div class='col-md-6 visible'>
                                        <span></span>
                                    </div>
                                </div>
                            </div>              
                        </div>    
    
                        <div class="row">
                                <div class="col-md-6" >
                                    <div class='row' style="padding:10px;">
                                        <div class='col-md-6 bground visible'>
                                            <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                            <span>Holidays</span>
                                        </div><div class='col-md-6 visible'>
                                            <span>{{details.holidays}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" >
                                    <div class='row' style="padding:10px;">
                                        <div class='col-md-6 bground visible'>
                                            <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                            <span>Workdays</span>
                                        </div><div class='col-md-6 visible'>
                                            <span>{{details.workdays}}</span>
                                        </div>
                                    </div>
                                </div>              
                            </div>    
            </div>
            </div>
                
            </div>
                   
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>         
      <script src="{% static 'animate/js/animate.js' %}"></script> 
{% endblock %}
