{% extends "index.html" %}
{% load staticfiles %}

{% block head %}
<script src="{% static 'jqueryFile.js'%}"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
<style>
        tr th{
        width:200px ;background: white !important;
        position:sticky !important;
        top:0px !important;
    }  
    fieldset.scheduler-border{
        border: 1px solid gray !important;
        padding: 5px !important;
        margin: 0 1.5em 1.5em 0 !important;
        box-shadow: 0px 0px 0px 0px black;
    } 
    legend.scheduler-border{
        font-size:15px;
        color: black;
    }
   
    @media screen and (max-width:1100px){
        .txt{
         width: 100px;
          
        }
      }
      @media screen and (max-width:900px){
        .foot{
         margin-bottom: 50px;   
        }
      }
      .model-body{
          padding: 0px !important;
      }
    </style>
{% endblock %}
{% block mycode %}
<!-- {% load bootstrap4 %} -->
{% if status %}
<script>
alert('{{status}}');
</script>
{% endif %}
<div class='container-fluid'>
        <div class='row'>
            <div class='col-md-12' style="box-shadow: 0px 0px 10px black;background: cornsilk;">
                    <div class="row">
                            <div style="background:#D2691E;height:30px;width:100%;color:white;margin-top:50px;"><span style=" margin-left:20px;">Appplication</span></div>
                        </div>
                        <div class="row mt-2 mb-2">
                                <div class="col-md-6"  >
                                    <div class='row' style="padding: 20px;">
                                        <div class='col-md-6 bground visible'>
                                            <span style="margin-left:60px;">Year</span>
                                        </div><div class='col-md-6 visible'>
                                            <select name="" id="" class="form-control">
                                                    <script>
                                                    for(var i=1990;i<=2030;i++)
                                                    {
                                                         document.write("<option>" +i+ "</option>");
                                                    }
                                                    </script>
                                            </select>
                                        </div>
                                    </div>
                                </div>                    
                        </div> 
                        <div class="col-md-12" style="height:30vh;overflow:auto;">
                         <center>
                            <table border="1">
                                <tr>
                                      <th>Type</th>
                                      <th>Balance</th>
                                      <th>Taken</th>
                                      <th>Applied</th>
                                      <th>Valid Until</th>
                                </tr>
                                  <tbody>
                                      <tr>
                                          <td>CL</td>
                                          <td>{{cl_status.c_bal}}</td>
                                          <td>{{cl_status.c_taken}}</td>
                                          <td>{{cl_status.c_app}}</td>
                                          <td>wqewew</td>
                                      </tr>
                                      <tr>
                                          <td>PL</td>
                                          <td>{{pl_status.p_bal}}</td>
                                          <td>{{pl_status.p_taken}}</td>
                                          <td>{{pl_status.p_app}}</td>
                                          <td>wqewew</td>
                                      </tr>
                                      
                                      <tr>
                                          <td>C-off</td>
                                          <td>{{coff_status.coff_bal}}</td>
                                          <td>{{coff_status.coff_taken}}</td>
                                          <td>{{coff_status.coff_app}}</td>
                                          <td>wqewew</td>
                            
                                      </tr>
                                      <tr>
                                            <td>RH</td>
                                            <td>{{rh_status.rh_bal}}</td>
                                            <td>{{rh_status.rh_taken}}</td>
                                            <td>{{rh_status.rh_app}}</td>
                                            <td>wqewew</td>
                                        </tr> 
                                  
                                                  </tbody>
                            </table>
                         </center>
                      </div> 
              <div class="row">
                    <div style="background:#D2691E;height:30px;width:100%;color:white;margin-top:200px;"><span style="margin-left:20px;"></span>Leave Details</span></div>
                </div>
                <div>
                    <button class="btn btn-info" style="margin-left:20px; margin-bottom: 20px;margin-top:20px;" data-toggle='modal'data-target='#login'>+</button>
                </div>
                <div class="col-md-12" style="height:30vh;overflow:auto;">
                        <table style="border:2px solid lightgray">
                            <tr>
                            <th>Date</th>
                          <th>Type</th>
                            <th>From</th>
                          <th>To</th>
                        <th>For</th>
                          <th>Reason</th>
                            <th>Status</th>
                            </tr>
                      <tbody>
                          {% for i in all %}
                            <tr>
                                <td>{{i.sub_date}}</td>
                                <td>{{i.leave_type.ltype}}</td>
                                <td>{{i.from_date}}</td>
                                <td>{{i.to_date}}</td>
                                <td>{{i.for_days}}</td>
                                <td>{{i.description}}</td>
                                <td>{{i.status}}</td>
                            </tr>
                          {% endfor %}
                                          
                        </tbody>
                    </table>
                </div> 
                    
        <div class='modal fade'id='login'> 
            <div class='modal-dialog modal-lg'>  
                      
                    <div class='modal-body'>
                           <div class="row">
                                <div class="col-md-12" style="background:#D2691E;">
                                        <span class="text-light">Leave Application</span>  
                                        <span class="text-light font-weight-bold close" data-dismiss="modal" style="font-size:'30px';">&times</span>
                                </div>
                                    </div>
        <div class="row" style="padding:4%;border: 5px solid #D2691E;background: cornsilk;">                
                        <form action="" method="POST">
                            {% csrf_token %}
                                    <div class="col-md-6">   
                            <div class='form-group' style="display:inline-block;">
                                <button class="btn btn-info txt">Employee Use</button>
                            </div>  
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border w-auto">Leave</legend>
                            <div class="form-group">
                                <span>Leave<sup class="text-danger">*</sup></span>
                                <select name="type" id="">
                                    <option value="CL">CL</option>
                                    <option value="PL">PL</option>
                                    <option value="Coff">C-off</option>
                                    <option value="RH">RH</option>
                                </select>
                            </div> 
                            <div class="form-group">
                                <span> From : </span>
                                <input type='date' class="" id="from" name="from" onchange="checkDate2()">
                           </div>
                        
                           <div class="form-group">
                                <span> To : </span>
                                <input type='date' class="" id="two" name="to" onchange="checkDate()">
                           </div>
                        
                           <div class="form-group">
                                <span> Total Days : </span>
                                <input type='text'  class="totaldays"  disabled>
                                <input type="hidden" name="days" class="totaldays">
                           </div>
                           
                           <div class="form-group">
                                <span> Sessions : </span>
                                <select name="session">
                                    <option>Full day</option>
                                    <option>Half day</option>
                                </select>
                           </div>
                           <div class="form-group">
                               <textarea rows="3" cols="40" placeholder="Description..." name="text"></textarea>
                           </div>
                            
                            </fieldset>
                </div>     
                <div class="col-md-6">
                        <div class='form-group' style="display:inline-block;">
                                <button class="btn btn-info" disabled>Management Approval</button>
                                </div>   
                                
                            <fieldset class="scheduler-border">
                                    <legend class="scheduler-border w-auto">Management</legend>
                            
                                    <div class="form-group">
                                        Application submission 
                                        <input type="text"  class="form-control" id="sdate" name="date" disabled>
                                </div>
                                <script>
           
                                    $(function(){
                                        let d = new Date();
                                        let dd = d.getDate()+'-'+parseInt(d.getMonth()+1)+'-'+d.getFullYear();
                                        $('#sdate').val(dd);
                                        
                                    });
                                    </script>
                                <div class="form-group">
                                        status
                                        <input type="text" value="pending Approve"class="form-control" disabled>
                                </div>
                                           
                            </fieldset>
                      
                            </div>   
                            <input type="submit" class="btn btn-info" value="OK">
                            <input type="submit" class="btn btn-info close" data-dismiss="modal" value="Cancel">                          
                        </form>
                    
                    </div>
                </div> 
            </div>
        </div>                       
            </div>
        </div>

    </div>
    <script>
    $(function(){
        document.getElementById('')
    })
    </script>
    <script>

       function checkDate(){
           
            let f=new Date($('#from').val());
            let t=new Date($('#two').val());
            
            
            if(f>t){
                alert('Invalid date')
            }
            else{
               let days=Math.round((t-f)/(1000*60*60*24));
               $('.totaldays').val(days);
            }
           
       }

        function checkDate2(){
            
            let f=new Date($('#from').val());
            let t=new Date($('#two').val());
            let d = new Date();
            let dd = d.getDate()+'-'+parseInt(d.getMonth()+1)+'-'+d.getFullYear();
            // let dd = parseInt(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();
            // alert(f)
            // if(f < new Date(dd)){
            //     alert('Invalid date')
            // }
            
        } 
    </script>
    <script type="text/javascript">
        $('tbody').sortable();

    </script>
{% endblock %}