{% extends 'hr.html'%}
{% load staticfiles %}
{% block head %}
<script src="{% static 'jqueryFile.js'%}"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
<style>
   
    fieldset.scheduler-border{
        border: 1px solid gray !important;
        padding: 5px !important;
        margin: 0 1.5em 1.5em 0 !important;
        box-shadow: 0px 0px 0px 0px black;
    } 
    legend.scheduler-border{
        font-size:15px;
        color: black;
    }
   
      @media screen and (max-width:900px){
        .foot{
         margin-bottom: 50px;  
        }
      }
     
    </style>
{% endblock %}
{% block mycode %}
{% if status %}
<script>
    alert('{{status}}');
    window.location='/myApp/leave_approval'
</script>
{% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" style="background: #D2691E;margin-top:20px;margin-left:15%;margin-right:15%;box-shadow:0px 0px 10px black;">
            <span class="text-light" style="margin:10px;font-size: 20px;">Leave Approve Form Information :</span>
                
               
             <div style="background:cornsilk;">
                    <table border="1" style="height:50px;width:100%;margin-top:20px;margin-bottom:20px;">
                           <thead>
                                <tr>
                                    <th>Tap icon</th>
                                        <th>Name</th>
                                        <th>Date</th>
                                    </tr>
                           </thead>
                            <!-- <tr>
                                <td class="btn" data-toggle='modal'data-target='#login'>ABcd</td>
                                <td>10-Apr-2019</td>
                            </tr> -->
                           <tbody>
                                {% for i in all %}
                            <tr>
                                <td style="width:15%;"><button class="btn btn-block" data-toggle='modal'data-target='#login' style="font-size:15px;background:cornsilk;border:1px solid grey;" onclick="getdata('{{i.id}}')">view</button> </td>
                                <td>{{i.emp_id.user.first_name}}{{i.emp_id.user.last_name}}</td>
                                <td>{{i.sub_date}}</td>
                            </tr>
                            {% endfor %}
                           </tbody>
                        </table>
             </div>

            </div>

        </div>
        <script>
        function getdata(id){
            $.ajax({
                url:'{% url "myApp:leavedet"%}',
                data:{id:id},
                type:'get',
                success:function(data){
                    $('#ltype').val(data.leave_type);
                    $('#lid').val(data.id);
                    $('#from').val(data.from_date);
                    $('#to').val(data.to_date);
                    $('#session').val(data.session);
                    $('#day').val(data.for_days);
                    $('#description').val(data.reason);
                    $('#subdate').val(data.sub_date);
                }
            })
        }
        </script>
        <div class='modal fade'id='login'> 
                <div class='modal-dialog modal-lg'>  
                          
                        <div class='modal-body'>
                               <div class="row">
                                    <div class="col-md-12" style="background:#D2691E;">
                                            <span class="text-light">Leave Application</span>  
                                            <span class="text-light font-weight-bold close" data-dismiss="modal" style="font-size:'30px';">&times</span>
                                    </div>
                                        </div>
            <div class="row" style="padding:4%;border: 5px solid #D2691E;background: cornsilk;">                
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="leaveid" id="lid">
                                        <div class="col-md-6"> 
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border w-auto">Leave</legend>
                                <div class="form-group">
                                    <span>Leave<sup class="text-danger">*</sup></span>
                                    <input type="text" id="ltype" name="leavetype" disabled>
                                </div> 
                                <div class="form-group">
                                    <span> From : </span>
                                    <input type='date' class="" id="from" disabled>
                               </div>
                            
                               <div class="form-group">
                                    <span> To : </span>
                                    <input type='date' class="" id="to" disabled>
                               </div>
                            
                               <div class="form-group">
                                    <span> Total Days : </span>
                                    <input type='text' class="" id="day" disabled>
                               </div>
                               
                               <div class="form-group">
                                    <span> Sessions : </span>
                                    <input type="text" id="session" disabled>
                               </div>
                               <div class="form-group">
                                   <span>Reason:</span>
                                   <textarea rows="3" id="description" cols="40" placeholder="Description..." disabled></textarea>
                               </div>
                                
                                </fieldset>
                    </div>     
                    <div class="col-md-6"> 
                                    
                                <fieldset class="scheduler-border">
                                        <legend class="scheduler-border w-auto">Management</legend>
                                
                                        <div class="form-group">
                                            Application submission 
                                            <input type="text"  class="form-control" id="subdate" name="date">
                                    </div>
                                    <script>
               
                                        $(function(){
                                            let d = new Date();
                                            let dd = d.getDate()+'-'+parseInt(d.getMonth()+1)+'-'+d.getFullYear();
                                            $('#sdate').val(dd);
                                            
                                        });
                                        </script>
                                    <div class="form-group">
                                            status
                                            <select name="status" class="form-control">
                                                <option value="Rejected">Reject</option>
                                                <option value="Approve">Approve</option>
                                            </select>
                                    </div>
                                               
                                </fieldset>
                          
                                </div>                             
                            
                        
                           <input type="submit" class="btn btn-info" value="OK">
                           <input type="submit" class="btn btn-info close" value="Cancel">
                        </form>
                        </div>
                    </div> 
                </div>
            </div> 
</div>
</script>
{% endblock %}