<!DOCTYPE html>
{% load bootstrap4 %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <style>
    
    </style>
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-md-6 mx-auto">
                <h2>Personal Details</h2>
                <div style="background:#D2691E;height:2px;width:15%;"></div>
                <div class="p-5">
                    <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <input type="submit">
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>
</html>