{% extends "index.html" %}
{% load staticfiles %}

{% block head %}
    <style>
    .bground{
        background: lightgray;
        color: black;
    }
    @media screen and (max-width:500px){
        .visible{
          width: 40% !important;
          margin: 2px !important;
         
        }
      }
      @media screen and (max-width:770px){
        .visible{
          width: 40% !important;
          margin: 2px !important;
        }
      }
      
    </style>
{% endblock %}
{% block mycode %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto" style="box-shadow:0px 0px 20px black;margin-left:10%;margin-right:10%;">
                <div class="row" style="background:#D2691E;height:30px;color:white;">
                    <span style="margin-left:20px;">Salary Details</span>
                </div>
                <div class="row" style="margin-top:10px;">
                <div class="col-md-6" >
                <div class='row' style="padding:15px;">
                    <div class='col-md-6 bground visible'>
                        <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                         <span>Basic Salary</span>
                    </div><div class='col-md-6 visible'>
                        <span>{{details.basic_salary}}</span>
                    </div>
                </div>
            </div> 
            <div class="col-md-6" >
                    <div class='row' style="padding:15px;">
                        <div class='col-md-6 bground visible'>
                             <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                              <span>Effective Date</span>
                        </div><div class='col-md-6 visible'>
                              <span></span>
                        </div>
                </div>
                </div>  
                <div class="col-md-6" >
                        <div class='row' style="padding:15px;">
                            <div class='col-md-6 bground visible'>
                                <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                 <span>Deduction</span>
                            </div><div class='col-md-6 visible'>
                                 <span>{{details.deduction}}</span>
                            </div>
                         </div>
                     </div>  
                    <div class="col-md-6" >
                            <div class='row' style="padding:15px;">
                                <div class='col-md-6 bground visible'>
                                    <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                    <span>Bonus</span>
                                </div><div class='col-md-6 visible'>
                                     <span>{{details.bonus}}</span>
                                </div>
                            </div>
                        </div>  
                            <div class="col-md-6" >
                                    <div class='row' style="padding:15px;">
                                        <div class='col-md-6 bground visible'>
                                            <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                            <span>Total</span>
                                        </div><div class='col-md-6 visible'>
                                            <span>{{details.total_income}}</span>
                                        </div>
                                    </div>
                                </div> 
                </div>
                <div class="row" style="background:#D2691E;height:30px;color:white;margin-top:15px;">
                    <div class="col-md-12">
                        <span >Payment</span>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                        <div class="col-md-6" >
                                <div class='row' style="padding:15px;">
                                    <div class='col-md-6 bground visible'>
                                        <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                        <span>Bank</span>
                                    </div><div class='col-md-6 visible'>
                                        <span>{{details.bank}}</span>
                                    </div>
                                </div>
                            </div>  
                <div class="col-md-6" >
                        <div class='row' style="padding:15px;">
                            <div class='col-md-6 bground visible'>
                                <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                <span>Bank Account</span>
                            </div><div class='col-md-6 visible'>
                                <span>{{details.bank_account}}</span>
                            </div>
                        </div>
                    </div> 
                <div class="col-md-6" >
                           <div class='row' style="padding:15px;">
                               <div class='col-md-6 bground visible'>
                                  <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                  <span style="font-size:15px">Payment Method</span>
                              </div><div class='col-md-6 visible'>
                                  <span>{{details.payment_method}}</span>
                              </div>
                          </div>
                      </div>  
                </div>
            </div>
        </div>
    </div>
{% endblock %}