{% extends 'hr.html'%}
{% load staticfiles %}
{% block head %}
{% endblock %}
{% block mycode %}
<div class="container">
  <div class="row">
    <div class="col-md-8" style="margin-left:10%;margin-right:20%;">
      <table class="table table-striped">
        <thead style="background:#D2691E">
          <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Action</th>
            
          </tr>
        </thead>
        <tbody style="background:cornsilk">
          {% for i in all %}
          <tr>
              <td>{{i.user.first_name}} {{i.user.last_name}}</td>
              <td>{{i.user.id}} {{i.user.username}}</td>
              <td>
                {% if i.user.is_active %}
                <a href="{% url 'myApp:SignUpApprove' %}?id={{i.user.id}}&action=app" class="btn btn-warning">Deactivate</a>
                {% else %}
                <a href="{% url 'myApp:SignUpApprove' %}?id={{i.user.id}}&action=app" class="btn btn-success">Approve</a>
                {% endif %}
                <a href="{% url 'myApp:SignUpApprove' %}?id={{i.id}}&action=delete" class="btn btn-danger">Delete</a>
                
              </td>
          </tr>
          {% endfor %}
         </tbody>
      </table>
    </div>
  </div>

</div>
          
                   
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>         
      <script src="{% static 'animate/js/animate.js' %}"></script> 

{% endblock %}
