{% extends "index.html" %}
{% block mycss %}
 
{% endblock %}
{% block mycode %}
{% if result %}
<script>
    $(function(){
      $('#un').focus(function(){
        $('.details').show(2000);
        $('#contact').show(3000);
      });
    });
  </script>

  <script>
    alert('{{result}}');
    window.location = '/';
  </script>
{% endif %}
  <div class="container-fluid bg-light mt-5">
    <div class="row py-5">
      <div class="col-md-6 mx-auto my-5 py-5">
        <div class="card">
          <div class="card-header">
            <h5 class='card-title'>Find Your Account <span class='float-right text-success'><i class='fas fa-user'></i>  {{un}}</span> </h5>

          </div>

          <div class="card-body">
              <span class='card-text text-bold my-2'>Please tell us your username to find you</span>
              <form method="post">
                {% csrf_token %}
                <input class='form-control' type="text" name="cuser" id='un' placeholder='Enter Username and Press Enter' value="" required/>
                <div class=" details py-2" style='display:none;'>
                  <span class='my-2 card-text'>Tell us something more about you for more confirmation </span>
                  <input type="text" name='cemail' class='form-control' id='email' placeholder='Enter Your Registered Email' name="" value="" required>
                </div>

                <div class="form-group">
                  <input type="password" id='pass' placeholder='New Password' class='my-2 form-control sm' name="passw" value="" required>
                </div><div class="form-group">
                  <input id='cpass' type="password" placeholder='Confirm New Password' class='my-2 form-control sm' name="cpass" value=""required>
                </div>

                <script>

                    $('#cpass').keyup(function(){
                      var p = $('#pass').val();
                      var cp = $('#cpass').val();
                       if(p!=cp){
                         $('#pass').css({'border':'1px solid red'});
                         $('#cpass').css({'border':'1px solid red'});
                       }
                       else{
                         $('#pass').css({'border':'1px solid green'});
                         $('#cpass').css({'border':'1px solid green'});
                       }

                    });
                </script>


                <input type="submit" name="forgot" value="Submit" class='my-2 btn btn-success'>
              </form>
          </div>


        </div>
      </div>
    </div>
  </div>
{% endblock %}
